@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    background-color: #efefef;
}
.container{
    width: 93%;
    display: block;
    margin: auto;
}
.main__container{
    height: auto;
    width: 60%;
    display: block;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.20);
    padding-bottom: 15px;
}
.top_container{
    height: auto;
    width: 100%;
    padding: 25px 0;
    background-color: #4b4b4b;
}
.top_container_h4{
    color: #fff;
    text-align: center;
    font-weight: 50;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.top_container_title{
    padding: 25px 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.number__box{
    height: auto;
    width: 100%;
    padding:20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 30px rgba(0,0,0,0.30);
    border-radius: 5px;
}
.input__label{
    display: block;
    color: rgba(0,0,0,0.90);
    font-family: 'Roboto', sans-serif;
    padding: 5px 0;
}
.input__box{
    height:30px;
    width: 100%;
    padding: 10px;
}
.btn{
    width: 100%;
    padding: 25px 0;
}
.reset__btn{
    padding: 6px 25px;
    background-color: #363636;
    color: #fff;
    float: right;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}